{% extends 'probase.html.twig' %}

{% block title %}ПчелоМатка{% endblock %}


{% block menupro %}
    {{ include('app/proekts/_tabs.html.twig') }}
    {{ include('app/proekts/page_glavas/pchelomatka/childs/_tabs.html.twig') }}
{% endblock %}

{% block kroxii %}
    <a href="{{ path('app.proekts.page_glavas.pchelomatka.childs') }}">Выбор инфы.</a>
    <span class="aktiv ">Инфа: перед объявлением</span>
    {#    <a href="{{ path('app.proekts.page_glavas.pchelomatka.childs.show') }}">Инфа: перед объявлением.</a>#}
    <a href="{{ path('app.proekts.page_glavas.pchelomatka.childs.reg-infa') }}">Инфа: объявление дочек.</a>
    <a href="{{ path('app.proekts.page_glavas.pchelomatka.childs.spisok-instr') }}">Инфа: после объявления.</a>

{% endblock %}

{% block bodyy %}

    <div class=" pa-to-1  ">
        <div class=" ma-bo-1 zagol-pchelo-child-44 ">
            Инфа: <span class="col-beloe">перед </span> объявлением дочек
        </div>
        <div class="proekts-plr  ">

            <ul class="mestoo__title ">
                <li class="zagol-pchelo-child-44  zagol-pchelo-child-44--px32  ">
                    <span class="col-beloe"> 1) </span>
                    Перед объявлением <p>Дочь - Пчело определитесь с</p>
                    <span class="col-beloe"> годом выхода .</span>
                </li>

                <li class="mestoo__title-item ">
                    <div class="foto-pchelo child-sezon"></div>
                </li>
            </ul>

            <div class="ma-to-4 ma-bo-2">
                <ul class="mestoo__title ">
                    <li class="zagol-pchelo-child-44  zagol-pchelo-child-44--px32  ">
                        <span class="col-beloe"> Внимание! </span>
                        Перейти на эту страничку можно
                    </li>

                </ul>

                <ul class="mestoo__title ">
                    <li class="zagol-pchelo-child-44  zagol-pchelo-child-44--px32  ">
                        <span class="col-beloe"> Сразу </span> со странички <p></p>
                        <a class="btnn btnn-filtr"
                           href="{{ path('app.proekts.pasekas.pchelomatkas.kategoris.kategor') }}">
                            <span class="col-beloe"> Список </span>
                        </a>
                    </li>

                    <li class="mestoo__title-item ">
                        <div class="foto-pchelo child-sezon-1"></div>
                    </li>
                </ul>
            </div>
            <div class="ma-bo-2">
                <ul class="mestoo__title ">
                    <li class="zagol-pchelo-child-44  zagol-pchelo-child-44--px32  ">
                        <span class="col-beloe"> Или </span> двойным переходом:

                    </li>
                </ul>
            </div>
            <ul class="mestoo__title">
                <li class="mestoo__title-item ">
                    <div class="drevimg "></div>
                </li>
                <li class="zagol-pchelo-child-44  zagol-pchelo-child-44--px32  ">
                    <span class="col-beloe"> первый </span> - к работе с конкретной маткой
                    на <span class="col-beloe"> Добавить сезон .... </span>
                </li>

            </ul>
            <ul class="mestoo__title ">
                <li class="zagol-pchelo-child-44  zagol-pchelo-child-44--px32  ">
                    <span class="col-beloe"> второй </span>-
                    на страничку <p></p>

                    <span class="col-beloe"> Перейти к выбору сезона </span>

                </li>

                <li class="mestoo__title-item ">
                    <div class="foto-pchelo child-sezon-2"></div>
                </li>
            </ul>


        </div>
    </div>
    {#    <h1 class="zagol-teni zagol-teni--em4 ma-bo-2">Не готова к просмотру....</h1>#}
{% endblock %}