{% extends 'probase.html.twig' %}

{% block title %}Категории{% endblock %}


{% block menupro %}
    {{ include('app/proekts/_tabs.html.twig') }}
    {{ include('app/proekts/page_glavas/pchelomatka/_tabs.html.twig') }}
{% endblock %}

{% block kroxii %}
    <a href="{{ path('app.proekts.page_glavas.pchelomatka.show') }}">Инфа: перед регистрацией матки.</a>
    <span class="aktiv ">Инфа: Новая категория.</span>
    <a href="{{ path('app.proekts.pasekas.pchelomatkas.kategoris.kategor') }}">Обзор категорий.</a>

{% endblock %}

{% block bodyy %}
    <div class=" proekts pro-pchelomat">

        <div class="inklud inklud--pchelomat ">

            <div class="pchelo-title  pchelo-teni ">
                Инфа: Новая категория.&nbsp; &nbsp;
            </div>
        </div>
        <div class="proekts-plr  ">

            <ul class=" ma-bo-2  pchelo-titul">
                <li >
                        <span class=" col-kras"> 1)</span>   Обозначение категории:
                </li>
                <li  class=" ">
                     <div class="ma-le_6">
                         <span class=" col-kras"> - </span> придумайте сокращенное название категории
                         <span class=" col-kras">:  м / пр </span>
                    </div>
                 </li>
                <li  class=" ">
                    <div class="ma-le_6">
                        <span class=" col-kras"> - </span> напишите расшифровку
                        <span class=" col-kras">:  мой / пример </span>
                    </div>
                </li>
            </ul>
            <ul class=" ma-bo-2  pchelo-titul">
                <li >
                    <span class=" col-kras"> 2)</span>   Перечислите <span class=" col-kras"> Характеристики  </span>
                    категорий:
                </li>
                <li  >
                    <div class="ma-le_6">
                        <span class=" col-kras"> - </span> что-то о матке
                    </div>
                </li>
                <li  >
                    <div class="ma-le_6">
                        <span class=" col-kras"> - </span> трутневый фон - он какой?
                    </div>
                </li>
                <li >
                    <div class="ma-le_6">
                        <span class=" col-kras"> - </span> что-нибудь о Селекционной работе
                    </div>
                </li>
                <li  >
                    <div class="ma-le_6">
                        <span class=" col-kras"> - </span> может быть что-то  о дружелюбии
                    </div>
                </li>

                <li  >
                    <div class="ma-le_6">
                        <span class=" col-kras"> - </span> возможно есть  важное,  о чём еще не было написано
                    </div>
                </li>

            </ul>

            <ul class=" ma-bo-2  pchelo-titul">
                <li >
                    <span class=" col-kras"> 3)</span>
                    <a href="{{ path('app.proekts.pasekas.pchelomatkas.kategoris.kategor') }}">Напишите и отправьте запрос.</a>

                </li>
            </ul>


        </div>
        <div class="foto-pchelo kateg-zapr"></div>
    </div>
{% endblock %}